body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container {
  display: flex;
  background-color: #1f2937;
  align-items: center;
  padding: 0 16px;
}

.header {
  margin: 20px;
  flex: 1;
}

ul {
  display: flex;
  list-style-type: none;
  flex: 1;
  gap: 20px;
  margin: 0;
  padding: 10px;
}

img {
  border-radius: 50%;
  max-width: 100px;
}

a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.header, ul {
  margin-bottom:20px;
}

.body {
  display: flex;
  background-color: teal;
  align-items: center;
}

.herotext {
  color: #E5E7EB;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 48px;
  font-weight: 800;
  margin: 24px;
  text-align: center;
}

.summary {
  max-width: 400px;
  font-size: 18px;
  color: #E5E7EB;
  font-weight: 100;
}
